In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('customers.csv')

In [3]:
df.head()

    age  income  gender m_status buys
0  25.0    high    male   single   no
1  25.0    high    male  married   no
2  35.0    high    male   single  yes
3  35.0  medium    male   single  yes
4  30.0     low  female   single  yes

In [4]:
df.isnull().sum()

age         2
income      0
gender      0
m_status    1
buys        0
dtype: int64

In [5]:
fill=df.age.mean()

In [6]:
fill

28.65

In [7]:
df.age= df.age.fillna(fill)

In [8]:
mode= df.m_status.mode()

In [9]:
mode

0    single
dtype: object

In [10]:
df.m_status= df.m_status.fillna('single')

In [11]:
df.isnull().sum()

age         0
income      0
gender      0
m_status    0
buys        0
dtype: int64

In [12]:
df.income.head()

0      high
1      high
2      high
3    medium
4       low
Name: income, dtype: object

In [13]:
df.income.unique()

array(['high', 'medium', 'low'], dtype=object)

In [14]:
df.income= df.income.replace(['high', 'medium', 'low'] , [1,2,3])

In [15]:
df.income.head()

0    1
1    1
2    1
3    2
4    3
Name: income, dtype: int64

In [16]:
df.gender.head()

0      male
1      male
2      male
3      male
4    female
Name: gender, dtype: object

In [17]:
df.gender.unique()

array(['male', 'female'], dtype=object)

In [18]:
df.gender= df.gender.replace(['male','female'],[1,2])

In [19]:
df.gender.head()

0    1
1    1
2    1
3    1
4    2
Name: gender, dtype: int64

In [20]:
df.m_status.head()

0     single
1    married
2     single
3     single
4     single
Name: m_status, dtype: object

In [21]:
df.m_status.unique()

array(['single', 'married'], dtype=object)

In [22]:
df.m_status = df.m_status.replace(['single', 'married'],[1,2])

In [23]:
df.m_status.head()

0    1
1    2
2    1
3    1
4    1
Name: m_status, dtype: int64

In [24]:
df.buys.head()

0     no
1     no
2    yes
3    yes
4    yes
Name: buys, dtype: object

In [25]:
df.buys.unique()

array(['no', 'yes'], dtype=object)

In [26]:
df.buys = df.buys.replace(['no','yes'] , [1,2])

In [27]:
df.buys.head()

0    1
1    1
2    2
3    2
4    2
Name: buys, dtype: int64

In [28]:
df.head()

    age  income  gender  m_status  buys
0  25.0       1       1         1     1
1  25.0       1       1         2     1
2  35.0       1       1         1     2
3  35.0       2       1         1     2
4  30.0       3       2         1     2

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
le= LabelEncoder()

In [31]:
df.income = le.fit_transform(df['income'])

In [32]:
df.income.head()

0    0
1    0
2    0
3    1
4    2
Name: income, dtype: int64

In [33]:
df.gender= le.fit_transform(df['gender'])

In [34]:
df.gender.head()

0    0
1    0
2    0
3    0
4    1
Name: gender, dtype: int64

In [35]:
df.m_status= le.fit_transform(df['m_status'])

In [36]:
df.m_status.head()

0    0
1    1
2    0
3    0
4    0
Name: m_status, dtype: int64

In [37]:
df.buys= le.fit_transform(df['buys'])

In [38]:
df.buys.head()

0    0
1    0
2    1
3    1
4    1
Name: buys, dtype: int64

In [39]:
df.head()

    age  income  gender  m_status  buys
0  25.0       0       0         0     0
1  25.0       0       0         1     0
2  35.0       0       0         0     1
3  35.0       1       0         0     1
4  30.0       2       1         0     1